* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffe6ff;
}
.page{
    height: 100vh;
    width :100%;
    background-image: url(https://bit.ly/3JFC7sB);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar */
.nav {
    min-height: 42px;
    background-color: #00ffff;
    display: flex;
    /*
      Ngoài cách này, các bạn có thể
      sử dụng 1 trong 2 cách mình
      comment phía dưới
    */
    justify-content: space-between;
}

/* Cách này */
/* .nav-list:nth-child(1) {
  margin-right: auto;
} */

/* Hoặc cách này */
/* .nav-list:nth-child(2) {
  margin-left: auto;
} */
.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #0000ff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

/* Chart layout */
.chart-layout {
    margin: 36px auto 0 auto;
    padding: 32px 0;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
}

.chart-layout__item {
    align-self: flex-end;
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: #EF5122;
    animation: growth ease-in 0.5s;
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

/* End */
